.order-container {
  max-height: 400px;
  min-height: 100px;
  margin: 1rem;
  border: 2px solid black;
  overflow-y: scroll;
  background-color: var(--clr-12);
}

.place-order {
  background-color: antiquewhite;
  margin: 1rem;
  padding: 1rem;
}

.customer-select {
  max-width: 400px;
  margin: 1rem;
}

.product-unit-details {
  border-bottom: 1px solid black;
  margin: 1rem 1rem 1rem 3rem;
  display: flex;
}

.product-unit-details div:first-child {
  flex-grow: 1;
  align-items: start;
  justify-content: end;
}

@media (max-width: 600px) {
  .product-unit-details {
    margin: 1rem;
  }
}

.product-unit-details > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px 0 5px;
}

.customer-info {
  display: flex;
  flex-wrap: wrap;
}

.customer-info > div {
  min-width: 350px;
}

.customer-info > div > *:nth-child(1) {
  display: inline-block;
  width: 130px;
  text-align: right;
  padding-right: 1rem;
}

.quantity-input {
  width: 3.2rem;
}

.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: transparent;
}

.totals-wrapper {
  display: flex;
  justify-content: end;
}

.totals {
  width: 200px;
  margin: 1.5rem 3rem 2rem 0;
}

.totals > div {
  display: flex;
  justify-content: space-between;
}

.totals div:nth-child(3) div:nth-child(2) {
  padding: 0 0.5rem 0 0.5rem;
  border-top: 1px solid black;
  border-bottom: 6px double black;
}

.totals div div:nth-child(2) {
  padding-right: 0.5rem;
}

.order-submit {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.order-submit span > * {
  margin: 1rem;
}

.individual-order-container {
  border: 1px solid white;
  margin: 2px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: steelblue;
}

.individual-order-heading {
  display: flex;
}

.individual-order-heading div {
  padding: 1rem 1rem 1rem 1rem;
}

.order-details-wrapper {
  display: flex;
}

.order-details-wrapper > div:first-child {
  display: inline-block;
  width: 100%;
  flex-grow: 1;
}

.order-details {
  display: flex;
  padding-left: 3rem;
}

@media (max-width: 550px) {
  .order-details {
    padding-left: 0rem;
  }
}

.order-details div {
  padding: 0 1rem 0 1rem;
  border-bottom: 1px solid blue;
}

.order-details div:nth-child(1) {
  flex-grow: 1;
}
.order-details div:nth-child(2) {
  min-width: 50px;
  max-width: 50px;
}
.order-details div:nth-child(3) {
  min-width: 10px;
  max-width: 30px;
}

/* .order-details div:nth-child(4) {
} */

.btn-wrapper {
  display: inline-block;
  width: max(30px, 20%);
}

.btn-wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
}
