.section-view-area {
  background-color: var(--clr-9);
  height: 100%;
  min-height: 100vh;
  display: block;
  width: 100%;
}

.spacer {
  display: inline-block;
  min-width: 270px;
}

.side-menu {
  background-color: var(--clr-7);
  width: 270px;
  height: 100vh;
  display: inline-block;
  position: fixed;
}

.logo {
  width: 100%;
  height: 150px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 1rem;
  width: 100%;
}

li {
  display: flex;
  width: 250px;
  height: 70px;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

li span {
  padding-left: 1rem;
}

li div {
  border-bottom: 4px solid black;
  position: absolute;
  top: 70px;
  left: 10px;
}

.checkbox {
  display: none;
}

@media (max-width: 1024px) {
  .spacer {
    min-width: 0px;
  }

  .burger-wrapper {
    width: 0;
    z-index: 100;
  }

  .side-menu {
    transform: translateX(-100%);
    /* transform: translateX(0%); */
    transition: transform 0.2s ease-in-out;
    /* min-width:0; */

    /* visibility: hidden; */
    z-index: 100;
  }

  .checkbox {
    position: absolute;
    display: block;
    height: 52px;
    width: 52px;
    top: 20px;
    left: 20px;
    z-index: 103;
    opacity: 0;
    cursor: pointer;
  }

  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 33px;
    left: 35px;
    z-index: 102;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  input[type="checkbox"]:checked ~ .side-menu {
    transform: translateX(0%);
  }

  input[type="checkbox"]:checked .burger-wrapper {
    width: auto;
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
