.customer-edit-wrapper {
  background-color: var(--clr-4);
  width: 500px;
  display: flex;
  border: 2px solid black;
}

.customer-edit-wrapper .labels {
  background-color: var(--clr-7);
  width: 50%;
  text-align: end;
  padding-right: 1rem;
}

.customer-edit-wrapper .labels div {
  height: 2rem;
}

.customer-edit-wrapper .details {
  /* background-color: var(--clr-6); */
  width: 50%;
  padding-left: 1rem;
}

.customer-edit-wrapper .details div {
  height: 2rem;
}

.customer-edit-wrapper input {
  width: 100%;
  height: 2rem;
}

.customer-edit-wrapper input:read-only {
  background-color: silver;
}

.btn-container {
  display: flex;
  height: 3rem;
  /* padding-top: 1rem; */
  border: 2px solid black;
  width: 500px;
}

.btn-container div {
  flex-grow: 1;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
}

.table-wrapper {
  height: 300px;
  /* background-color: var(--clr-9); */
  border: 2px solid black;
  overflow-y: scroll;
}

tr {
  background-color: lightblue;
  cursor: pointer;
}

tr:nth-child(2n) {
  background-color: #fafafa;
}

td {
  height: 40px;
  /* min-width: 170px; */
  /* width: 200%; */
  padding-left: 1rem;
  padding-right: 1rem;
}

tr:hover {
  background-color: var(--clr-6);
}

.table-heading > * {
  background-color: yellow;
}

th {
  height: 70px;
}

.sort-arrows {
  font-weight: 500;
  padding-left: 10px;
  width: 2rem;
  display: inline-block;
}

.global-filter {
  display: inline-block;
  padding: 1rem;
}

th {
    /* background: white; */
    position: sticky;
    top: 0; /* required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);

  }