.side-menu {
  background-color: var(--clr-6);
  min-width: 270px;
  height: 100%;
  display: inline-block;
}

.logo {
    width:100%;
    height:100px;
    background-color: antiquewhite;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}

ul {
  list-style-type: none;
}
