.sales-orders-wrapper {
  border: 2px solid white;
  margin: 1rem;
  display: inline-block;
  height: 250px;
  width: 450px;
  /* min-width: 450px; */
  vertical-align: top;
}

@media (max-width: 480px) {
  .sales-orders-wrapper {
    width: 350px;
    height: auto;
  }
}

.sales-orders-wrapper .left-side {
  width: 222px;

  /* border: 2px solid black; */
  display: inline-block;
  vertical-align: top;
}

.sales-orders-wrapper .right-side {
  display: inline-flex;
  flex-direction: column;
  padding-top: 2rem;

  /* border: 2px solid yellow; */
  width: 222px;
  /* border-left: 2px solid black; */
  height: 200px;
  text-align: center;
}

.sales-orders-wrapper .right-side > div:first-child {
  /* flex-grow: 1; */
  /* height: 219px; */
  /* background-color: aqua; */
}

.sales-orders-wrapper .select-wrapper {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-orders-wrapper .info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales-orders-wrapper .info-wrapper {
  /* background-color: aliceblue; */
  /* margin-top: 2rem; */
}

.sales-orders-wrapper .info > div:first-child {
  font-size: 2rem;
  width: 100%;
  max-width: 4rem;
  /* text-align: center; */
  /* background-color: antiquewhite; */
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* position: relative; */
  /* top: -5px; */
  border-bottom: 2px solid white;
}

.sales-orders-wrapper .info > div:nth-child(2) {
  height: 3rem;
  flex-grow: 1;
  /* margin-bottom: 0.3rem; */
  border-bottom: 2px solid white;
}

    
    .sales-orders-wrapper .currency {
      font-size: 2rem;
      text-align: center;
    }