.sales-orders-wrapper {
  border: 2px solid white;
  margin: 1rem;
  padding: 1rem;
}

.sales-orders-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.sales-orders-wrapper .left-side {
  width: 222px;
  height: 200px;
}

.sales-orders-wrapper .right-side {
  width: 222px;
  height: 200px;
  text-align: center;
}

.sales-orders-wrapper .select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-orders-wrapper .info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales-orders-wrapper .info-wrapper {
  margin-top: 2rem;
}

.sales-orders-wrapper .info > div:first-child {
  font-size: 2rem;
  width: 100%;
  max-width: 4rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 2px solid white;
}

.sales-orders-wrapper .info > div:nth-child(2) {
  height: 3rem;
  flex-grow: 1;
  /* margin-bottom: 0.3rem; */
  border-bottom: 2px solid white;
}

.sales-orders-wrapper .currency {
  font-size: 2rem;
  text-align: center;
}
