.stock-on-hand-wrapper {
  border: 2px solid white;
  margin: 1rem;
  padding: 1rem;
}

.stock-on-hand-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.stock-on-hand-wrapper .left-side {
  width: 222px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.stock-on-hand-wrapper .bubble-sales {
  background-color: green;
  border: 2px solid white;
  border-radius: 1rem;
  margin: 0.1rem;
  height: 87px;
  width: 174px;
  padding: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.stock-on-hand-wrapper .bubble-purchases {
  /* vertical-align: middle; */
  background-color: red;
  border: 2px solid white;
  border-radius: 1rem;
  margin: 0.1rem;
  height: 87px;
  width: 174px;
  padding: 0;
  text-align: center;
}

.stock-on-hand-wrapper .pie-chart {
  width: 222px;
  height: 200px;
}

  .stock-on-hand-wrapper .currency {
    font-size: 2rem;
    text-align: center;
    width: 11rem;
    height: 3rem;
  }